.accordion {
  width: 100%;
}
.accordion__wrapper {
  max-width: 39.1833125rem;
}
.accordion__header--text {
  line-height: 1.6875rem;
  padding: 0.6988rem 1.25rem;
}
.accordion__icon {
  color: #520418;
  -webkit-filter: invert(11%) sepia(19%) saturate(6594%) hue-rotate(319deg)
    brightness(96%) contrast(112%);
  filter: invert(11%) sepia(19%) saturate(6594%) hue-rotate(319deg)
    brightness(96%) contrast(112%);
  height: 1.125rem;
  margin: 1rem;
  width: 1.125rem;
}
.accordion__content {
  border-radius: 0 0 0.4375rem 0.4375rem;
}
.accordion__text-area {
  line-height: 1.3125rem;
  max-height: 18.375rem;
  min-height: 18.375rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
.accordion__text-area p {
  color: #42403f;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-bottom: 1.5rem;
}
.scroller {
  height: 0.3125rem;
  overflow-y: auto;
  scrollbar-color: rgba(66, 64, 63, 0.3) hsla(20, 6%, 90%, 0.3);
  scrollbar-width: thin;
  width: calc(100% - 0.875rem);
}
.scroller::-webkit-scrollbar {
  width: 0.3125rem;
}
.scroller::-webkit-scrollbar-thumb {
  background: rgba(66, 64, 63, 0.3);
  border-radius: 0.3125rem;
  height: 3.75rem;
}
.scroller::-webkit-scrollbar-track {
  background-color: hsla(20, 6%, 90%, 0.3);
  border-radius: 0.3125rem;
  margin: 1.25rem 0;
}
.border-radius-open {
  border-bottom: 1px solid rgba(164, 7, 49, 0.2);
  border-radius: 0.4375rem 0.4375rem 0 0;
}
