.content-center-wrapper {
  max-width: 81.25rem !important;
  margin-left: 6.25rem;
  margin-right: 6.25rem;
  width: 100%;
  height: 100%;
  margin-top: calc(99px + 3rem);
}
.content-center__header {
  padding: 1.875rem;

  width: 100%;

  background: linear-gradient(
    85.58deg,
    #a40731 -0.38%,
    #830b3a 41.27%,
    #002359 103.58%
  );

  box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
  border-radius: 7px;
}

.content-center__nav {
}

.content-center__body {
  margin-top: 1.875rem;
  position: relative;
}
.test-drive {
  position: absolute;
  left: -30px;
  right: -30px;
  top: 2rem;
}
.text-center-body {
  margin-bottom: -5.2rem;
  margin-left: -1.875rem;
}

.content-center__left {
  margin-right: 0.9375rem;
}

.content-center__right {
  margin-left: 0.9375rem;
}

@media only screen and (max-width: 1023px) {
  .content-center__header {
    padding: 1.275rem;
  }
  .content-center__left {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .content-center__right {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 520px) {
  .content-center__bottom {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    gap: 1rem;
  }
}

@media only screen and (max-width: 375px) {
  .content-center-wrapper {
    max-width: 81.25rem !important;
    margin-left: 4.2rem;
    margin-right: 4.2rem;
    width: 100%;
    height: 100%;
    margin-top: calc(99px + 3rem);
  }
}
