.aside {
  border-right: 1px solid #e7e5e4;
  max-width: 6.25rem;
  min-width: 6.25rem;
  top: 99px;
}
.aside,
.aside__topnav {
  height: calc(100% - 99px);
}
.aside__topnav {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.aside__language {
  padding-top: 2.1875rem;
}
.aside__botnav {
  padding: 2.1875rem 0;
}
.aside__botnav:before {
  border-top: 1px solid #e7e5e4;
  content: "";
  display: inline-block;
  margin: 0 1rem;
  position: absolute;
  -webkit-transform: translateY(-2.3rem);
  transform: translateY(-2.3rem);
  width: 4rem;
}
.contentLeft__icon {
  -webkit-filter: invert(9%) sepia(95%) saturate(6240%) hue-rotate(339deg)
    brightness(78%) contrast(96%);
  filter: invert(9%) sepia(95%) saturate(6240%) hue-rotate(339deg)
    brightness(78%) contrast(96%);
}
.line {
  border-left: 1px solid #e7e5e4;
  cursor: default;
  height: 100%;
}
.line--vertical {
  border: none;
  border-left: 1px solid #e7e5e4;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 1px;
}
@media only screen and (max-width: 766px) {
  .aside {
    max-width: 5.625rem;
    min-width: 5.625rem;
  }
}
@media only screen and (max-width: 530px) {
  .aside {
    max-width: 4.625rem;
    min-width: 4.625rem;
  }
}
@media only screen and (max-width: 375px) {
  .aside {
    max-width: 3.925rem;
    min-width: 3.925rem;
  }
  .contentLeft__icon {
    height: 1.1875rem;
    width: 1.1875rem;
  }
}
