.nav {
  min-height: 6.1875rem;
  max-height: 6.1875rem;
  width: 100vw;
  border-bottom: 1px solid #e7e5e4;
  background-color: #ffffff;
}
.nav__hamburger {
  cursor: pointer;
}

.nav__right-side {
  padding-right: 0.9375rem;
  padding-left: 1.875rem;
}

.right-side-container {
  padding: 1.28125rem 0.9375rem;
}
.right-side-image {
  display: flex;
  align-self: center;

  width: 2rem;
  height: 2rem;
  filter: invert(9%) sepia(95%) saturate(6240%) hue-rotate(339deg)
    brightness(78%) contrast(96%);
}

.center-side {
}

.left-side {
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}

.nav__logo {
  padding-left: 2.375rem;
  padding-right: 2.375rem;
  width: 12.5rem;
  height: 5.6875rem;
}

@media screen and (max-width: 1076px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav__center-side {
    position: absolute;
    left: -1000;
    opacity: 0;
  }
}

@media screen and (max-width: 456px) {
  .nav__right-side {
    position: absolute;
    left: -1000;
    opacity: 0;
  }
  .nav__logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}
